{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}

<div class="col-sm-9">
    <section class="py-5">
        {% for post in posts %}
        <div class="card text-center">
            <div class="card-header">
                {{post.title}} - <a href="{% url 'post-list' post.category.slug %}" class="badge badge-primary">
                {{post.category.name|capfirst}}
            </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">{{post.text|linebreaks|safe|truncatewords:100}}</p>
                <a href="#" class="btn btn-primary">Lire plus</a>
            </div>
            <div class="card-footer text-muted">
                Posté le : {{post.created_at}}
            </div>
        </div>
        {% empty %}
        <div class="text-center">
            <p class="display-1">¯\_(ツ)_/¯</p>
            <h3 class="mt-4">
                Désolé, aucun résultat pour cette catégorie
                <span class="badge badge-info">
                {{category.name}}
            </span>
            </h3>
        </div>
        {% endfor %}
    </section>
</div>

<div class="col-sm-3" align="right">
    <section class="py-5">
        <h5>Catégorie</h5>
        <ul class="list-unstyled">
            {% for cat in categories %}
            <li>
                <a href="{% url 'post-list' cat.slug %}" class="badge badge-success"> {{ cat.name|capfirst }}</a>
            </li>
            -------------
            {% endfor %}
        </ul>
    </section>
</div>

<style>
body {
  background-color: #ecf0f1;
}
a {
 color : black;
}








</style>

{% endblock content %}