{% extends 'base.html' %}
{% load static %}
{% block title %}Service{% endblock %}

{% block content %}


<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4">TDB</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore doloribus eos error
            exercitationem, harum illo illum maiores nihil odio provident, quam quidem quis quisquam recusandae
            reiciendis temporibus vero voluptatibus.</p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="http://lorempixel.com/286/180/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="http://lorempixel.com/286/180/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="http://lorempixel.com/286/180/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div>


</section>

<style>
body {
  background-color: #ecf0f1;
}



</style>

{% endblock content %}
