{% extends 'base.html' %}
{% load static %}
{% block title %}Dev{% endblock %}

{% block content %}


<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore doloribus eos error
            exercitationem, harum illo illum maiores nihil odio provident, quam quidem quis quisquam recusandae
            reiciendis temporibus vero voluptatibus.</p>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-outline-success collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        ANDROID
                    </button>
                    <img src="{% static 'img/android.svg' %}"
                         height="5%" width="5%" align="right">
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card text-white bg-primary">
                        <div class="card-header">App blue
                            <a class="github-button" href="https://github.com/mclouu/MyNews/"
                               data-size="large" aria-label="Watch mclouu/MyNews on GitHub">Watch</a>
                            <span>
                                <a target="_blank" rel="noopener noreferrer"
                                   href='https://play.google.com/store/apps/details?id=com.romain.mathieu.mynews&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img src="{% static 'img/badge_playstore/playstore_news.svg' %}"
                                     width="30%" height="30%" align="right"/>
                                </a>
                                </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/app_icon/app_blue.svg' %}" height="10%" width="10%">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Omnis, saepe.
                            </p>
                        </div>
                    </div>
                    <div class="card text-white bg-success">
                        <div class="card-header">App green
                            <a class="github-button" href="https://github.com/mclouu/MyNews/"
                               data-size="large" aria-label="Watch mclouu/MyNews on GitHub">Watch</a>
                            <span>
                                <a target="_blank" rel="noopener noreferrer"
                                   href='https://play.google.com/store/apps/details?id=com.romain.mathieu.mynews&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img src="{% static 'img/badge_playstore/playstore_news.svg' %}"
                                     width="30%" height="30%" align="right"/>
                                </a>
                                </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/app_icon/app_green.svg' %}" height="10%" width="10%">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Omnis, saepe.
                            </p>
                        </div>
                    </div>
                    <div class="card text-white bg-danger">
                        <div class="card-header">App red
                            <a class="github-button" href="https://github.com/mclouu/MyNews/"
                               data-size="large" aria-label="Watch mclouu/MyNews on GitHub">Watch</a>
                            <span>
                                <a target="_blank" rel="noopener noreferrer"
                                   href='https://play.google.com/store/apps/details?id=com.romain.mathieu.mynews&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img src="{% static 'img/badge_playstore/playstore_news.svg' %}"
                                     width="30%" height="30%" align="right"/>
                                </a>
                                </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/app_icon/app_red.svg' %}" height="10%" width="10%">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Omnis, saepe.
                            </p>
                        </div>
                    </div>
                    <div class="card text-white bg-warning">
                        <div class="card-header">App Yellow
                            <a class="github-button" href="https://github.com/mclouu/MyNews/"
                               data-size="large" aria-label="Watch mclouu/MyNews on GitHub">Watch</a>
                            <span>
                                <a target="_blank" rel="noopener noreferrer"
                                   href='https://play.google.com/store/apps/details?id=com.romain.mathieu.mynews&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img src="{% static 'img/badge_playstore/playstore_news.svg' %}"
                                     width="30%" height="30%" align="right"/>
                                </a>
                                </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/app_icon/app_violet.svg' %}" height="10%" width="10%">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Omnis, saepe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-outline-warning collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        PYTHON
                    </button>
                    <img src="{% static 'img/python.svg' %}"
                         height="5%" width="5%" align="right">
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Empty
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-outline-dark collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        -----
                    </button>
                    <img src="{% static 'img/empty.svg' %}"
                         height="5%" width="5%" align="right">
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Empty
                </div>
            </div>
        </div>
    </div>

</section>


<style>
body {
  background-color: #ecf0f1;
}
small {
    text-align: right;
}

span {
    float: right;
}






















</style>

{% endblock content %}
