<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Blog - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Clou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in navigation_items %}
                <li class="nav-item {% if item.active %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!--Body-->
<div class="container">
    <div class="row mt-12">
        {% block content %}{% endblock content %}
    </div>
</div>

<!--Footer-->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50 shadow">
    <div class="container text-center">
        <small>Copyright &copy; Mathieu Romain - 2019</small>
    </div>
</footer>


<!-- Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>

</body>
</html>

<style>
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  <!--border-radius: 10px;-->
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: CornflowerBlue;
  outline: 2px solid slategrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: DodgerBlue;
}


</style>